argh==0.26.2
asn1crypto==0.22.0
attrs==16.3.0
Automat==0.5.0
boto==2.46.1
cffi==1.10.0
constantly==15.1.0
cssselect==1.0.1
Django==1.10.6
django-annoying==0.10.3
django-bower==5.2.0
django-filter==1.0.4
django-registration==2.2
django-scheduler==0.8.6.1
djangorestframework==3.6.3
enum34==1.1.6
filechunkio==1.8
google-api-python-client==1.6.2
graphviz==0.7.1
http-parser==0.8.3
httplib2==0.10.3
icalendar==3.11.7
idna==2.5
incremental==16.10.1
ipaddress==1.0.18
lxml==3.7.3
Markdown==2.6.9
mrjob==0.5.9
oauth2client==4.0.0
packaging==16.8
parsel==1.1.0
pathtools==0.1.2
pyasn1==0.2.3
pyasn1-modules==0.0.8
pycparser==2.17
PyDispatcher==2.0.5
pyOpenSSL==17.0.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
PyYAML==3.12
queuelib==1.4.2
Reindent==0.1.1
restkit==4.2.2
rsa==3.4.2
Scrapy==1.8.1
service-identity==16.0.0
six==1.10.0
socketpool==0.5.3
Twisted==17.1.0
uritemplate==3.0.0
virtualenv==15.0.1
w3lib==1.17.0
warc==0.2.1
watchdog==0.6.0
zope.interface==4.4.0
gunicorn==19.9.0
dj-database-url>=0.5.0
psycopg2-binary>=2.7.7
whitenoise
