{%if users %}
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Connect with....</button>
  <div id="dropdown-menu" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {% for username in users %}
        {% ifnotequal username|cut:" "  user.username|cut:" " %}
            <a class="users dropdown-item" href="#">{{ username }}</a>
        {% endifnotequal %}
    {% endfor %}
  </div>
</div>
{% endif %}
