{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<script src="https://meet.jit.si/external_api.js"></script>
<script>
$( document ).ready(function(){

  $("#dropdownMenuButton").click(function(){
    $("#dropdown-menu").empty();
    $.ajax({type:"GET", url: "get_all_hosting_users", success: function(data){
      obj = $.parseJSON(data)
      $.each( obj, function( key, val ) {
        $("#dropdown-menu").append('<a class=\"users dropdown-item\" href=\"#\">' + val.username + '</a>');
      //$("#dropdown-menu").css("display", "block");
	$("#dropdown-menu").dropdown('toggle');
      }); 

    }});
  });  	

  $("#host_meet").click(function() {
    $.ajax({type:"GET", url: "host", success: function( data ){
    	var domain = "meet.jit.si";
    	var options = {
		parentNode: document.querySelector('#host_meet'),
        	roomName: "{{ request.user.username }}",
		height: 500 
    	}
    	var api = new JitsiMeetExternalAPI(domain, options);
	setInterval(function(){
        	$.ajax({type:"GET", url: "host"});
	}, 60000);
    }})	

  });

  $(".users").click(function() {
     
    var domain = "meet.jit.si";
    var options = {
	parentNode: document.querySelector('#meetyou'),
        roomName: this.textContent,
	height: 500 
    }
    var api = new JitsiMeetExternalAPI(domain, options);
    console.log("value: " + this.textContent);
  });
});
</script>
		<h1> LinkSpace </h1>
                {% load current_users %}
		{% render_logged_in_user_list %}
		<br><br><br>
		<a id="host_meet" href="#">Host a meeting</a>
		<div id="meetme">
		</div>
		<div id="meetyou">
		</div>
{% endblock %}
