{% block content %}
  <div ng-controller="WebspaceController" ng-init="token='{{ csrf_token }}'">	
    <h1 class="text-primary center"> WebSpace </h1>
    <style>
      .form-group {margin-bottom: 1rem; width: 20rem;} 
    </style>
    <div>
      {% if webspaces|length > 0 %}<h4 class="text-primary center">Your Websites</h4>{% endif %}
      <div class="container" id="website_list">
        <table class="table">
        <thead>
          <tr><th scope="col">Site Name</th><th scope="col">Site Link</th><th scope="col">Site Admin Link</th></tr> 
        </thead>
        <tbody id="website_table_body">
        {% for webspace in webspaces %}
          <tr id="{{ webspace.name}}"><td class="table-cell text-info">{{ webspace.name }}</td><td><a class="text-info" href="{{ webspace.site }}">{{ webspace.site }}</a></td><td><a class="text-info" href="{{ webspace.admin_site }}">{{ webspace.admin_site }}</a></td><td class="table-cell"><button type="button" class="btn-red" ng-click="delete_site('{{ webspace.name }}')">Delete Site</button></td></tr>
        {% endfor %}
        </tbody>
        </table>
      </div>
    </div>
    <p class="text-info text-center"> Fill in details of the website you will like to create and click on Create Site </p> 
    <form id="create_webspace_form" action="webspace/create_webspace">{% csrf_token %}
      <div class="container">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="site name" id="site_name" name="site_name">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="admin email address" id="admin_email" name="admin_email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="admin password" id="admin_password" name="admin_password">
        </div>
        <span class="input-group-btn">
          <button class="btn btn-dark" type="button" href ng-click="click_create_site()" >Create Site</button>
        </span>
      </div>
    </form>
  </div>
<div id="create_site_results" class="text-info text-center"></div>
</div>
{% endblock %}
