{% load i18n static %}
<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<html  xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.min.js"></script>
    <script src="{% static "linkspace.js" %}"></script>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<script type="text/javascript" src="{% static "schedule.js" %}"></script>
        <link rel="stylesheet" href="{% static "schedule.css" %}" type="text/css" media="screen">
        <link rel="stylesheet" href="{% static "jquery-ui/themes/base/all.css" %}" type="text/css" media="screen">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        <script src="https://meet.jit.si/external_api.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.5.1/fullcalendar.min.css"></link>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.5.1/fullcalendar.print.css" media="print"></link>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.5.1/fullcalendar.min.js"></script>

        {% block extra_head %}
        {% endblock %}

    </head>

    <body ng-app="lnkspace">
       <div>
       <div id="header", ng-controller="MenuController">
          {% block header %}
	  <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="nav-link" href="{% url 'index' %}">{% trans "Home" %}</a> 

          <span ng-show="login_status">{% trans "Logged in" %}: {{ user.username }}</span> 
          <span ng-show="login_status" class="nav-link" ng-click="logout()">{% trans "Log out" %}</span> 
          <a ng-show="login_status" class="nav-link" href="{% url 'auth_password_change' %}">{% trans "Change password" %}</a>

          <a ng-show="login_status" class="nav-link" href=/meet/meet>{% trans "Meet" %}</a>

          <a ng-show="login_status" class="nav-link" href=/book/book>{% trans "Book" %}</a>
          </span>
              <a class="nav-link" href="{% url 'auth_login' %}">{% trans "Log in" %}</a>

          <hr />
          {% endblock %}
       </div>
       <div id="content">
          {% block content %}{% endblock %}
       </div>

    <p style="clear:both">

        <div id="body">
            {% if messages %}
                <ul id="messages">
                    {% for message in messages %}
                    <li id="message_{{ forloop.counter }}"><a class="nav-link" href="#" onclick="$('#message_{{ forloop.counter }}').fadeOut(); return false;"><small>{% trans "clear" %}</small></a> {{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

	    <div ng-view>	
	    </div>	

        </div>

        <div id="footer">{% block footer %}{% endblock %}</div>
      </div>
    </body>
</html>
