{% extends "base.html" %}
{% block extra_head %}
<script>
$( document ).ready(function(){
    // page is now ready, initialize the calendar...
    $('#calendar').fullCalendar({
        // put your options and callbacks here
      header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,agendaWeek,agendaDay'
      },
      editable: true, 
      eventSources: [{
          url :'/schedule/api/occurrences',
          data: {
              calendar_slug: '{ user.usercalendar.slug }',
          cache: true
          }
      }],
      eventClick: function(calEvent, jsEvent, view){
          window.location.href = window.location.protocol + "//" + window.location.host + "/" + "schedule/event/edit/{{ user.usercalendar.slug }}/" + calEvent.id.toString();
      },
      dayClick: function(date, jsEvent, view){
          window.location.href = window.location.protocol + "//" + window.location.host + "/" + "schedule/event/create/{{ user.usercalendar.slug }}?year=" + date.year().toString() + "&month=" + date.month().toString() + "&day=" + date.date().toString() + "&hour=" + date.hour().toString() + "&minute=" + date.minute().toString();
      }
  });
});
</script>
{% endblock %}
{% block content %}
<html lang="en">
	<body>
		<h1> Book </h1>
		<div id="calendar"></div>
	</body>
</html>
{% endblock %}
